/**table{
    border: 1px solid black;
    width: 100%;
}

td, th{
    border: 1px solid black;
    padding: 10px;
}*/

.body{
    font-align:center;
}

.ejemplo{
    width: 126px;
    height: 190px;
    margin-block: 10px;
    margin-inline: 15px;
    padding: 16px;
    border: 1px solid #000;
    

    /**width: 190px;
    height: 250px;
    margin-block: 10px;          10px
    margin-inline: 22px;/**    30px
    padding: 16px;
    border: 1px solid #000;*/


   /* width: 150px;
    height: 250px;
    /**margin: 19px;
    margin-top: 16px;
    margin-left: 65px;
    margin-right: 16px;
    padding: 16px;
    border: 1px solid #000; p*/
}

.imagen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}